$yellow: #fffa19;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
.jumbotron{
		background-color:  $yellow;
		color: black;
		@include margenes(50px, 0px)
}
.footer{
		padding: 10px 10px 0 10px;
		background-color:  $yellow;
		margin-top: 10px;
		margin-bottom: 0px;
}
.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
}
.footer-address{
	padding-right: 10px;

}
.tab-content {
	padding-top: 10px ;
}